html,body{
    background-color: #2f4f30;
    margin: 0px;
    color: white;
}

.titulo{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 20px;
}

.carta{
    width: 150px;
    position: relative;
    left: 100px;
    margin-left: -75px;
}
#jugador-cartas, computadora-cartas{
    height: 240px;
}